*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero{
    width: 100%;
    height: 140vh;
    background-image: url(/assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;

}

.logo{
    width: 85px;
    height: 80px;
    margin-top: 10px;
}

.nav{
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a{
    width: 100%;
    height: 100px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.hero-icon{
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagline{
    width: 500px;
    height: 300px;
    /* border: 1px solid white; */
    margin: 300px auto;
    text-align: center;
}

.tagline h1{
    font-size: 50px;
    text-align: center;
    color: white;
    margin-bottom: 35px;
}

.tagline p{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px; 
}

.tagline button{
    width: 160px;
    height: 60px;
    background-color: #00A651;
    border-radius: 10px;
    border: #00A651;
}

.tagline a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

/* .service{
    width: 100%;
    height: 10px;
} */

h2{
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.service-card{
    width: 100%;
    height: 250px;
    /* border: 5px solid blue; */
    display: flex;
    justify-content: space-around;
}

.service-icons{
    margin-left: 25px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.ticket-card{
    width: 320px;
    height: 200px;
    background-color: #F9F9F9;
    border-radius: 10px;
}

.hotel-card{
    width: 320px;
    border-radius: 10px;
    height: 200px;
    box-shadow: 1px 3px 5px 1px  rgba(0, 0, 0, 0.19), 0 3px 5px 1px  rgba(0, 0, 0, 0.2);
}

.tour-card{
    width: 320px;
    height: 200px;
    border-radius: 10px;
    background-color: #F9F9F9;
}

.service-card h4{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 15px;
    font-weight: 700;
    
}

.service-card p{
    font-size: 14px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 15px;
    /* text-align: left; */
}

.tagline-two{
    width: 100%;
    height: 600px;
    background-color: #0058530D;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.map-container{
        width: 800px;
        height: 410px;
        /* border: 1px solid red; */
        margin: 30px auto;
        text-align: center;
        background-image: url(/assets/world_map_1.png);
        background-size: cover;

}

.map-container h3{
    margin-left: 25px;
    margin-right: 15px;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.map-container p{
    color: black;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    
}

.tagline-two-cards{
    width: 80%;
    height: 250px;
    /* border: 3px solid red; */
    display: flex;
    position: absolute;
    margin-top: 300px;
    /* align-items: center; */
    justify-content: space-between;
}

.card-one{
    width: 220px;
    height: 220px;
    background-color: #fff;
    border-radius: 20px;
}

.card-two{
    width: 220px;
    height: 220px;
    background-color: #fff;
    border-radius: 20px;
}

.card-three{
    width: 220px;
    height: 220px;
    background-color: #fff;
    border-radius: 20px;
}

.card-four{
    width: 220px;
    height: 220px;
    background-color: #fff;
    border-radius: 20px;
}

.tagline-two-card-icon{
    margin-top: 50px;
    margin-left: 40%;
}

.tagline-two-cards h3{
    text-align: center;
    margin-top: 20px;
    margin-left: 1px;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
}

.tagline-two-cards p{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.destination{
    width: 100%;
    height: 500px;

}

.destination-heading{
    text-align: center;
    margin-top: 20px;
    margin-left: 1px;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

.destination-cards{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.destination-map-img{
    width: 700px;
    height: 500px;
    margin-top: 0px;
    align-content: end;
}



.country{
    width: 50px;
    height: 500px;
    /* border: 3px solid black; */
    align-content: space-between;
    margin-left: 100px;
    align-content: end;
}

.thailand-card{
    width: 450px;
    height: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0  rgba(0, 0, 0, 0.15), 0 2px 4px 0  rgba(0, 0, 0, 0.1);


}

.indonesia-card{
    width: 450px;
    height: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0  rgba(0, 0, 0, 0.15), 0 2px 4px 0  rgba(0, 0, 0, 0.1);

}

.new-zeland-card{
    width: 450px;
    height: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0  rgba(0, 0, 0, 0.15), 0 2px 4px 0  rgba(0, 0, 0, 0.1);

}

.thailand-img{
    width: 100px;
    height: 100px;

}

.thailand-head{
    width: 70px;
    height: 20px;
    font-size: 15px;
    font-weight: 600;
}


.thailand-p{
    text-align: left;
}

.arrow-icon{
    width: 40px;
    height: 40px;
}

.indonesia-img{
    width: 100px;
    height: 100px;

}

.indonesia-head{
    width: 70px;
    height: 20px;
    font-size: 15px;
    font-weight: 600;
}


.indonesia-p{
    text-align: left;
}

.new-zeland-img{
    width: 100px;
    height: 100px;

}

.new-zeland-head{
    width: 90px;
    height: 20px;
    font-size: 15px;
    font-weight: 600;
}


.new-zeland-p{
    text-align: left;
}

.packages{

    margin-top: 100px;
    width: 100%;
    height: 900px;
    background-color: #F9F9F9;

}

.packages h2{
    line-height: 100px;
}

.package-btn{
    margin-left: 100px;
    margin-right: 100px;
    list-style: none;
    text-align: center;
    line-height: 45px;
    /* padding-left: 50px;
    padding-right: 50px; */
}

ul{
    display: flex;
    justify-content: space-between;
}

ul li{
    width: 120px;
    height: 50px;
    background-color: #666666;
    border-radius: 10px;
}
ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 15px;
}

.hot-btn{
    background-color: #00A651;
}

.packages-card{
    margin-top: 100px;
    width: 100%;
    height: 500px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-around;
    
}


.indonesia-package-card{
    max-width: 300px;
    height: 450px;
    background-color: #fff;
    /* border: 2px solid gold; */
    border-radius: 10px;
}

.indonesia-package-card img{
    width: 300px;
    max-height: 70%;
    margin: auto;
}

.indonesia-card-title{
    display: flex;
}

.indonesia-card-title h6{
    font-size: 15px;
    margin-right: 70px;
    font-weight: 400;
    padding-left: 15px;
}

.indonesia-card-text{
    margin-top: 20px;
    line-height: 18px;
    padding-left: 15px;
}

.indonesia-card-text p{
    font-size: 14px;
    font-weight: 400;
}

.indonesia-card-details{
    margin-top: 0px;
    display: flex;
}

.indonesia-card-details img{
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 10px;
    width:20px;
}

.indonesia-card-details p{
    margin-top: 20px;
    font-weight: 600;
 
   
}

.indonesia-card-details a{
    margin-top: 20px;
    margin-right: px;
    margin-left: 100px;
    color: black;
    font-weight: 400;
}



.japan-package-card{
    max-width: 300px;
    height: 450px;
    background-color: #fff;
    /* border: 2px solid gold; */
    border-radius: 10px;
}

.japan-package-card img{
    width: 300px;
    max-height: 70%;
    margin: auto;
}

.japan-card-title{
    display: flex;
}

.japan-card-title h6{
    font-size: 15px;
    margin-right: 70px;
    font-weight: 400;
    padding-left: 15px;
}

.japan-card-text{
    margin-top: 20px;
    line-height: 18px;
    padding-left: 15px;
}

.japan-card-text p{
    font-size: 14px;
    font-weight: 400;
}

.japan-card-details{
    margin-top: 0px;
    display: flex;
}

.japan-card-details img{
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 10px;
    width:20px;
}

.japan-card-details p{
    margin-top: 20px;
    font-weight: 600;
 
   
}

.japan-card-details a{
    margin-top: 20px;
    margin-right: px;
    margin-left: 125px;
    color: black;
    font-weight: 400;
}


.mountain-package-card{
    max-width: 300px;
    height: 450px;
    background-color: #fff;
    /* border: 2px solid gold; */
    border-radius: 10px;
}

.mountain-package-card img{
    width: 300px;
    max-height: 70%;
    margin: auto;
}

.mountain-card-title{
    display: flex;
}

.mountain-card-title h6{
    font-size: 15px;
    margin-right: 70px;
    font-weight: 400;
    padding-left: 15px;
}

.mountain-card-text{
    margin-top: 20px;
    line-height: 18px;
    padding-left: 15px;
}

.mountain-card-text p{
    font-size: 14px;
    font-weight: 400;
}

.mountain-card-details{
    margin-top: 0px;
    display: flex;
}

.mountain-card-details img{
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 10px;
    width:20px;
}

.mountain-card-details p{
    margin-top: 20px;
    font-weight: 600;
 
   
}

.mountain-card-details a{
    margin-top: 20px;
    margin-right: px;
    margin-left: 100px;
    color: black;
    font-weight: 400;
}

.packages button{
    display: block;
    margin: auto;
    width: 160px;
    height: 50px;
    background-color: #00A651;
    border-radius: 10px;
    border: #00A651;
}

.packages button a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.trip{
    margin-top: 20px;
}

.trip p{
    margin-top: 1px;
    text-align: center;

}

.trip img{
    display: block;
    width: 800px;
    height: 500px;
    margin: auto;
    

}

.about-us{
    height: 700px;
    background-color: #F9F9F9;

}

.about-us h2{
    line-height: 180px;
}

.about-us img{
    height: 500px;
}

.subscribe{
    width: 100%;
    height: 500px;
    /* border: 2px solid red; */
    

}

.cta{
    width: 1000px;
    height: 400px;
    display: block;
    margin: auto;
    background-image: url(assets/subscribe-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    /* position: relative; */

}

.cta h5{
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.email-sec{
    /* border: 2px solid blue; */
    text-align: center;
    margin-top: 50px;
    
}

.email-sec input{
    width: 230px;
    height: 50px;
    padding-left: 50px;
    /* background-image: url(/assets/email-icon.png);
    background-repeat: no-repeat; */
    border: transparent;
    border-radius: 10px;
    margin-right: 20px;
}

.email-sec button{
    width: 130px;
    height: 45px;
    color: #fff;
    background-color: #00A651;
    border-radius: 10px;
    border: #00A651;
    margin-bottom: 60px;
}

.email-sec button a{
    text-decoration: none;
    color: #fff;
}

.email-sec img{
    padding: 17px;
    position: absolute;
}

.footer{
    height: 300px;
    padding: 20px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}

.footer-logo img{
    padding-bottom: 50px

}

.footer-logo p{
    font-size: 15px;
    color: #5E6282;
}

.footer-nav{
    width: 500px;
    display: flex;
    justify-content: space-between; 
}

.company h4{
    padding-bottom: 50px;
}

.company p a{
    text-decoration: none;
    color: #5E6282;
    line-height: 50px;
}

.contact h4{
    padding-bottom: 50px;
}

.contact p a{
    text-decoration: none;
    color: #5E6282;
    line-height: 50px;
}

.more h4{
    padding-bottom: 50px;
}

.more p a{
    text-decoration: none;
    color: #5E6282;
    line-height: 50px;
}

.footer-app p{
    color: #5E6282;
    line-height: 70px;
}

.footer-mail p{
    line-height: 100px;
    text-align: center;
}